<div *ngIf="shared.scenario">
    <app-game-html *ngFor="let s of cssHtml" [url]="s"></app-game-html>

    <div *ngIf="!shared.play" (click)="startGame()">Inizia partita</div>

    <div *ngIf="shared.play" [class]="shared.statusCssClasses()">
        <app-show-page *ngIf="shared.scenario.desktop" [page]="shared.scenario.desktop"></app-show-page>
        <app-leaflet-map *ngIf="shared.scenario.map" [layer]="shared.scenario.map" (clickMarker)="clickMarker($event)"></app-leaflet-map>
    </div>
</div>
<router-outlet></router-outlet>
<div *ngIf="!shared.scenario" class="uninitialized-container">
    <div class="uninitialized-content">
        <img src="assets/images/logos/logo.svg" alt="Logo Itinerari Ignaziani" class="uninitialized-logo">        
        <h2 class="uninitialized-title">Itinerari Ignaziani</h2>
        <p class="uninitialized-subtitle">
            Accompagnamo la pellegrina e il pellegrino alla conoscenza spirituale dei luoghi di Roma in cui ha vissuto sant'Ignazio di Loyola.
        </p>
        <p class="uninitialized-text">
            Per iniziare clicca <a class="uninitialized-link" href="https://itinerari-ignaziani.net/game/#/play/itinerari-ignaziani/start">qui</a>.
        </p>
    </div>
</div>